*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #93cb52;
  --light: #fefefe;
  --dark: #333;
  --p1: 1rem;
  --p2: 2rem;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4rem;
  word-spacing: .1rem;
}

.tc-light{ color: var(--light); }

span{ color: var(--green); }

#read-more, #contact{ background: var(--green); }

.bg-dark { background: var(--dark); }

h2 { font-size: var(--p2); }

li { list-style: none; }

a{
  text-decoration: none;
  color: var(--light);
}

a:hover { background-color: var(--green); }



/*          Navbar           */

#navbar {
  display: flex;
  justify-content: space-between;
  padding: .9rem;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}

#navbar #logo a:hover{ background: none; }

#navbar #tab { display: flex; }

#navbar #tab li a{ padding: var(--p1); }



/*          Header           */

#home {
  height: 100vh;  
  background: url("./image_resources/showcase.jpg") no-repeat center center/cover;
}

#home div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
}

#home h2 {
  font-size: 3.75rem;
  padding: var(--p1);
  margin: var(--p1);
}

#home p {
  font-size: 1.3rem;
  padding: var(--p1);
}

#home #read-more {
  padding: .5rem;
  border-radius: .3rem;
  margin-top: var(--p1);
}



/*           What We Do             */

#what-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
  margin-bottom: var(--p2);
}

#what-container #heading{ padding: var(--p2) 0; }

#what-container #what {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

#what-container #what .work { display: flex; }

#what-container #what .work i{
  align-self: center;
  padding: .75rem;
  border-radius: 50%;
  background: var(--green);
}

#what-container #what .work .box {
  text-align: left;
  padding: var(--p2);
  padding-left: var(--p1);
}

#what-container #what .work .box h3 { margin-bottom: .5rem; }



/*                            Who We Are                           */

#who { display: flex; }

#who div { flex: 1; }

#who #team-image { background: url("./image_resources/people.jpg") no-repeat center center/cover; }

#who #team { margin: 1rem var(--p2); }

#who #team h2,
#who #team h3 { padding: var(--p1) 0; }

#who #team ul li {
  padding: .5rem 0;
  border-bottom: 1px dotted #444;
}



/*          Clients          */

#clients {
  width: 100%;
  padding: var(--p2);
} 

#clients h2{
  text-align: center;
  margin-bottom: var(--p1);
}

#clients #items {
  display: flex;
  justify-content: space-between;
  padding: var(--p1);
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#clients #items li img{ width: 60%; }



/*        Contact Form           */

#contact { display: flex; }

#contact div{ flex: 1; }

#contact #data { padding: var(--p2); }

#contact #data form { padding: .75rem; }

#contact #data h2 { padding-bottom: 1rem; }

#contact #data form .input,
#contact #data form .textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact #data form .input label,
#contact #data form .textarea label{
  font-size: 110%;
  padding: .5rem 0;
}

#contact #data form .input input,
#contact #data form .textarea textarea{
  padding: .35rem;
  border: none;
  border-radius: .3rem;
}

#contact #data #btn {
  width: 100%;
  padding: .5rem;
  border: none;
  border-radius: .4rem;
}

#contact #pic { background: url(./image_resources/people.jpg) no-repeat center center/cover; }



/*          Footer           */

footer {
  padding: var(--p2);
  text-align: center;
}

@media(max-width: 668px) {

  #navbar {
    display: block;
    line-height: 2;
    text-align: center;
  }

  #navbar #tab { justify-content: space-evenly;}

  #home h2 { line-height: 1.2; }

  #what-container { padding: 0; }

  #what-container #what {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  #what-container #what .work .box {
    padding: var(--p1) 3rem;
  }

  #who #team-image,
  #clients #items li:last-child,
  #contact #pic {
    display: none;
  }

  #clients #items { width: 100%; }

  #clients #items li img {
    width: 100%;
    padding: var(--p1);
  }

}